w-h-style.css

.empty	{
	position: center;
    color: white;
    font-size: 400px;
    z-index: -1;
}

.container {
  position: relative;
  margin-top: 220px;
  margin-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  float: center;
}

.usmap	{
	display: block;
    width: 100%;
    height: auto;
	float: center;
	opacity: 0.7;

}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 65px;
  font-family: "AnnMarker", AnnMarker;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
  
body 	{
	background: linear-gradient(to bottom, #000000 0%, #666699 100%);
}

a:link {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: none;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: none;
    background-color: transparent;
    text-decoration: none;
}